{% extends 'base.html' %}

{% load static %}
{% block meta %}
<title>Tambah Pasien</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <h2 style="text-align: center; padding: 20px 0px 20px; text-shadow: 1px 1px 2px #dfdfdf;">Add Patient</h2>
</div>
    <div  style="margin: auto; margin-top: 20px;" class="d-flex justify-content-center">
        <form method="post" style="padding: 20px; background-color: rgb(255, 198, 206);" class="rounded shadow">
            {% csrf_token %}
            <table>
            {% for field in form %}
            <div class="fieldWrapper">
                    <tr>
                        <td>{{ field.errors }}
                            {{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                    </tr>
            </div>
            {% endfor %}
            </table>
            <div style="padding-top: 10px;">
                <input type="submit" value ="Submit">
            </div>
        </form>
    </div>
    
{% endblock %}