{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Stats</title>
{% endblock meta %}

{% block content%}

<div class="container" style="text-align: center; padding: 20px 0px 20px;"><h2>Analitik Rumah Sakit</h2></div>
<div class="col-lg-12 col-md-6 d-flex justify-content-around counter" style="padding: 100px 60px 100px;">
	<div class='rounded shadow' style="background-color: rgb(232, 255, 211); padding: 50px">
            Sembuh: {{sembuh}}
    </div>
	<div class='rounded shadow' style="background-color: rgb(255, 89, 89); padding: 50px">
        Positif: {{positif}}
    </div>
	<div class='rounded shadow' style="background-color: rgb(173, 173, 173); padding: 50px">
        Meninggal: {{meninggal}}
    </div>
</div>
<div class="container">
    <iframe src="https://public.domo.com/cards/bWxVg" width="100%" height="600" marginheight="0" marginwidth="0" frameborder="0"></iframe>
</div>
    
    
{% endblock %}