{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>List Pasien</title>
{% endblock meta %}

{% block content%}

    <div class="col-lg-12 col-md-6">
        <h2><P style="text-align: center;padding: 20px 0px 20px;">Daftar Pasien</P></H2>
    </div>
    {% if pasien2 %}
    <div class="col">
            <table class="table table-sm daftarpas shadow">
                <tr>
                    <th>Nama</th>
                    <th>Umur</th>
                    <th>Alamat</th>
                    <th>Status Covid</th>
                    <th>Update</th>
                    <th>Remove</th>
                    <th>Sembuh</th>
                    <th>Meninggal</th>
                </tr>

                {% for pasien in pasien2 %}
                    <tr>
                        <td>{{pasien.nama}}</td>
                        <td>{{pasien.umur}}</td>
                        <td>{{pasien.alamat}}</td>
                        <td>{{pasien.status}}</td>
                        <td><a style= 'background-color: #CE3F3F; color: white;' class="btn btn-sm" href="{% url 'DataPasien:update' pasien.id %}">Update</a></td>
                        <td><a style= 'background-color: #820B0B; color: white;' class="btn btn-sm" href="{% url 'DataPasien:delete' pasien.id %}">Delete</a></td>
                        <td><a style= 'background-color: rgb(131, 212, 131); color: white;' class="btn btn-sm" href="{% url 'DataPasien:sembuh' pasien.id %}">Sembuh</a></td>
                        <td><a style= 'background-color: #2c1313; color: white;' class="btn btn-sm" href="{% url 'DataPasien:meninggal' pasien.id %}">Meninggal</a></td>

                    </tr>
                {% endfor %}


            </table>
        
    </div>
    {% else %}
    <div class="container">
        <h2 class="border shadow rounded" style="padding:10px; text-align: center;">Tidak ada data pasien.</h2>
    </div>
    {% endif %}
{% endblock %}