{% extends 'base.html' %}
{% load static %}


{% block content%}

<br>
<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="card card-body shadow">


			<p>Are you sure you want to change status to negative? "{{yangdiapus.nama}}"?</p>

			<form action="{% url 'DataPasien:sembuh' yangdiapus.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'DataPasien:listofpasien' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>
    
    
{% endblock %}