{% extends 'base.html' %}
{% block meta %}
<title>Tambah Pengumuman</title>
{% endblock meta %}
{% block content %}
{% load static %}
<style>
    body{
     
        
        background-image: url("../../static/css/obat.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 120vh 130vh;
        background-size: 120vh 170vh;
    }
    
    .tengah{
        text-align: center;
        color: #CF2B2B; 
        padding: 30px; 
        padding-bottom: 10px;
    }
    .button{
        color: #ffffff;
        font-weight: bolder; 
        font-size: 20px;
        border-radius: 12px;
        background-color: #5E6472;
    }
    .button:hover{
        color: #CF2B2B;
    }

    .form_pengumuman{
        width : 80vh;
  margin: 5px;
  margin-top: 0%;
  border-radius: 5px;
  border : 1px solid #5E6472;

    }
    
</style>

    <div class="tengah">
        <h3 style=" font-weight: bolder; padding-bottom: 20px; text-decoration:underline;">Tambah Pengumuman</h3>
        <h5 style="padding-bottom: 0px;">Silahkan mengisi form dibawah, dan pastikan hal ini merupakan hal yang penting!</h5>
    </div>



    <Form method="POST" style="text-align: center;">
        {% csrf_token %}
        <div style="justify-content: center; padding: 10px; padding-top: 0px;">
            <div style="padding: 10px; padding-top: 0px;">
                Judul Pengumuman: <br> {{ form.judul }}
            </div>
        
            <div style="padding: 10px; padding-top: 0px;">
                Detail Pengumuman: <br> {{ form.detail }}
            </div>

            <div style="padding: 10px; padding-top: 0px; display:flex; flex-direction: row; justify-content: center;">
                Priority?    <div style="padding-left: 15px;">{{ form.penting }} Yes </div>
            </div>

        </div>

        <div>
            <input class= "btn btn-light button" style="margin-top: 4px;font-size: 15px;"type="submit" value="submit">     
        </div>
       
        
    </Form>


    





{% endblock %}