{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hapus Data Staff</title>
{% endblock meta %}

{% block content %}
    <div class="container">
        <div class='my-4'>
        <form action='/hapus/' method="POST">{% csrf_token %}
        <h1 class="display-4" style="color: #CF2B2B;">Hapus Data Pegawai</h1>
            Nama
            <p><input id='nama' class="form-control" type='text' name='nama' placeholder="Masukkan Nama" required>
                </p>
            <input class="btn btn-danger" type="submit" value="Hapus">
            </form>
            </div>    
    </div>
{% endblock %}
