{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/css.css' %}">
<title>Forum</title>
{% endblock meta %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3 class="display-4" style="color:#CF2B2B; font-weight: bold;">Forum</h3>
    </div>
</div>
<div class="container-fluid">
    
    <a href="{% url 'forum:addpost' %}" class="btn btn-secondary btn-lg btn-block" style="background-color: #CF2B2B; color: white; font-weight: bold;">Add New Post</a>
    <hr>
    {% if post %}
        {% for pp in post %}
        <div class="list-group">
            <a href="{% url 'forum:comment' pp.id %}" class="list-group-item list-group-item-action" style="background-color: #96908cb6; color: white; border-radius: 10px;">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{pp.nama}}</h5>
                <small>{{pp.tanggal_post}}</small>
            </div>
            <p class="mb-1" style = "word-break: normal; ">{{pp.judul}} </p>
            <p class="mb-1" style = "word-break: normal; ">{{pp.pesan}} </p>
            <small><a href="{% url 'forum:hapuspost' pp.id %}" style="color: black;"> Hapus Postingan</a></small>
            </a>
            <br>
        </div>
        {% endfor %}
    {% else %}
        <p> Tidak ada postingan di dalam forum ini.</p>
    {% endif %}

</div>

{% endblock content %}
