{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/css/rs.png" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% block meta %}
    {% endblock meta %}
</head>
<style>
    body{
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden
    }


  .navbar-custom {
  background-color:#CF2B2B;
}
    table.counter td, tr, th{
    padding: 10px;
}
    table.daftarpas td{
        background-color: #ffeaea;
    }
    td{
        vertical-align: top;
    }
    .counter{
        font-size: 16px;
    }
</style>


<body>
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-light navbar-custom">
        <a class="navbar-brand" href="/"  style="color:#FFFFFF ; font-weight: bold; margin-right: 20px;">
            <img src="../../static/css/rs.png" width="27" height="27" class="d-inline-block align-top" alt="">
            Co-Helper
        </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon" id="tombol-nav"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="navbar-nav ml-auto">
                <li class="nav-item dropdown" style="color:#FFFFFF ; font-weight: bold; margin-right: 20px;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#FFFFFF ; font-weight: bold;">
                      Pasien
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                      <a class="dropdown-item" href="/listofpasien/">Daftar Pasien</a>
                      <a class="dropdown-item" href="/add/">Tambah Pasien</a>
                      <a class="dropdown-item" href="/counter/">Counter</a>
                    </div>
                </li>
                <li>
                    <a class="nav-item nav-link txt-ikon" href="/pengumuman/" style="color:#FFFFFF ; font-weight: bold; margin-right: 20px;">Pengumuman</a>
                </li>
                <li>
                    <a class="nav-item nav-link txt-ikon" href="/forum" style="color:#FFFFFF ; font-weight: bold; margin-right: 20px;">Forum</a>
                </li>
                <li>
                    <a class="nav-item nav-link txt-ikon" href="/info/" style="color:#FFFFFF ; font-weight: bold; margin-right: 20px;">Staff</a>
                </li>
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>