{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Welcome!</title>
<style>
  body{
    background-image:   url('{% static "img/coronas.png" %}'),linear-gradient(180deg, #CF2B2B 22.92%, #FFFFFF 100%);
    background-repeat: no-repeat, repeat;
    background-position: top right ;
    background-position-y: 60px,0px;
    background-position-x: 850px;
    background-size: 350px;
  }
   .footer {
     left: 0;
     bottom: 0;
     width: 100%;
     font-family: 'Poppins', sans-serif;
     text-align: center;
     padding: 10px;
  }

  .gambar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .kumpulan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 55px;
  }

  @media (max-width: 768px){

    .kumpulan{
      flex-direction: column ;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .gambar{
      
      margin-bottom: 20px;
    }
    body{
      
      background-position: top right;
      background-size: 250px;
    }
  }

  </style>
{% endblock meta %}

{% block content %}

  <div style="padding: 50px; color: #FFFFFF; ">
    <h1 style="padding-bottom: 5px; font-size: 65px;">Co-Helper</h1>
    <h4>Manage the hospital in pandemic, and be on track</h4>
  </div>

  <div class="kumpulan">
    <div class="gambar" style="padding-right: 30px;">
      <img style="margin-bottom: 20px;" width=210 height=170 src="static/img/maskk.png">
      wear a mask
    </div>
    
    <div class="gambar" style="padding-right: 40px; ">
      <img  width=190 height=190 src="static/img/cuci.png">
      sanitize your hands
    </div>
   
    <div class="gambar" style="padding-right: 40px;">
      <img style= "margin-bottom: 10px;"width=183 height=183 src="static/img/social.png">
      do social distancing 
    </div>
    <div class="gambar">
      <img style="margin-left: 10px;" width=195 height=195  src="static/img/vitamin.png">
      consume enough vitamins
    </div>
  </div>
  

  

  <div class="footer">
    <div class=row style="padding-left: 20px;">
      <a href="https://gitlab.com/tk1-ppw-woe/tk1jingsalajing" style="color: #CF2B2B; "> <img src="{% static 'img/gitlab.jpg'%}" width=40>  Made by G07</a> 
    </div>
  </div>
  
  
{% endblock content %}
